.list-item {
    border-bottom: 1px solid var(--app-shell-border-color);
}

.list-link {
    display: flex;
    height: 3rem;
    padding: 0 0.5rem;
    align-items: center;
}

.list-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}